.mainPage {
  display: flex;
  flex-direction: column;
  width: 100%;
  place-items: center;
}

.productsList {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  margin: 20px;
}

.favoriteButton {
  position: fixed;
  opacity: 0.5;
  top: 10px;
  right: 50%;
  transform: translate(50%, 50%);
  &:hover {
    opacity: 1;
  }
}
